httpcore==0.16.3
requests
sqlalchemy
alembic
pydantic[dotenv]==1.10.2
psycopg2
schedule
pytest
fastapi
uvicorn[standard]
amqp
celery
flower
redis
pandas
python-multipart
pymongo
eventlet
pillow
pycryptodomex
bs4
confluent-kafka
eventlet
boto3